# **Lesson 3. 함수와 모듈**
데이터 분석 초급 과정 1 (Python) > Module 2. Python Skill-Up

## **Topic 1. 기본 함수 만들기**

### **1) 함수 선언과 사용**

- 우선 무작정 다음과 같이 함수를 만들어 봅니다.

In [ ]:
# 함수 선언
def hello():
    print('안녕하세요? 반갑습니다!')

# 함수 사용
hello()

- 하나 더 만들어봅니다.

In [ ]:
# 함수 선언
def times_table_2():
    for i in range(1, 10):
        print(f'2 x {i} = {2 * i}')

# 함수 사용
times_table_2()

### **2) 입력 매개변수**

- 앞에서 본 다음 함수는 입력 매개변수가 없습니다.
- 그래서 기능이 단순합니다.

In [ ]:
# 함수 선언
def hello():
    print('안녕하세요? 반갑습니다!')

# 함수 사용
hello()

- 입력 매개변수가 있는 함수가 더 많은 역할을 수행하므로 자주 사용됩니다.
- 이제 이름을 입력 매개변수로 받아 처리하는 함수를 만듭니다.

In [ ]:
# 함수 선언
def hello(name):
    print(f'{name}님 안녕하세요? 반갑습니다!')

# 함수 사용
hello('홍길동')

- 숫자를 입력 매개변수로 받아 구구단을 출력하는 함수를 만듭니다.

In [ ]:
# 함수 선언
def times_table(x):
    for i in range(1, 10):
        print(f'{x} x {i} = {x * i}')

# 함수 사용
times_table(8)

### **3) 입력 매개변수 기본값**

- 위 함수는 입력 매개변수가 없으면 오류가 발생합니다.
- '매개변수 = 값' 형태로 기본값을 지정할 수 있습니다.
- 이름을 전달하지 않으면 '여러분'이 기본값으로 사용되게 수정합니다.

In [ ]:
# 함수 선언
def hello(name='여러분'):
    print(f'{name}님 안녕하세요? 반갑습니다!')

# 함수 사용
hello('홍길동')
hello()

- '여러분 안녕하세요? 반갑습니다!'가 표시되게 함수를 수정합니다.

In [ ]:
# 함수 선언
def hello(name='여러분'):
    if name == '여러분':
        print(f'{name} 안녕하세요? 반갑습니다!')
    else:
        print(f'{name}님 안녕하세요? 반갑습니다!')

# 함수 사용
hello('홍길동')
hello()

### **4) 입력 매개변수 순서**

- '매개변수 = 값' 형태로 입력값을 전달하는 경우는 함수 선언 시 매개변수 순서와 달라도 됩니다.
- 함수 선언 시 매개변수 순서에 맞게 입력 값을 전달하는 경우는 매개변수 이름을 생략할 수 있습니다.

In [ ]:
# 함수 만들기
def hello(name, loud=1):
    if loud == 1:
        print(f'우~~와~~ {name}님 안녕하세요? 반갑습니다!!!')
    else:
        print(f'{name}님 안녕하세요? 반가워요.')

# 함수 사용
hello(name='홍길동', loud=1)   # 매개변수 = 값 형태로 지정
hello(loud=0, name='홍길동')   # 매개변수 순서 변경
hello('홍길동', 0)             # 매개변수 이름 생략
hello('홍길동')                # 매개변수 기본값 사용

## **Topic 2. 고급 함수 만들기**

### **1) 여러 매개변수**

- 입력 매개변수가 여러 개 전달되는 경우 매개변수 이름에 *을 붙입니다.
- 대부분 함수 안에서 반복문을 사용해 출력합니다.

In [ ]:
# 함수 선언
def hello(*args):
    for who in args:
        print(f'{who}님 안녕하세요? 반갑습니다!')

# 함수 사용
hello('홍길동', '일지매', '강우동')

In [ ]:
# 함수 선언
def summ(*nums):
    print(sum([x ** 2 for x in nums]))

# 함수 사용
summ(1, 4, 3, 5)

- 임의의 여러 입력 매개변수와 고정된 매개변수를 사용할 수 있습니다.

In [ ]:
# 함수 만들기
def hello(*args, title):
    for who in args:
        print(f'{who}{title} 안녕하세요? 반갑습니다!')

# 함수 사용
hello('홍길동', '일지매', '강우동', title='선생님')

### **2) 함수 출력**

- 함수 안에서 print() 함수로 결과를 출력하는 함수는 반환되는 값이 없습니다.

In [ ]:
# 함수 만들기
def numbers1(*nums):
    print(nums)

# 함수 사용
numbers1(1, 2, 3)

- 반환되는 값이 없는 함수의 결괏값을 받아 출력하면 None이 출력됩니다.

In [ ]:
# 함수 만들기
def numbers1(*nums):
    print(nums)

# 함수 사용
a1 = numbers1(1, 2, 3)
print(a1)

### **3) 함수 반환값 받기**

- 함수 안에서 return 문으로 반환한 값을 받아 함수 밖에서 사용할 수 있습니다.

In [ ]:
# 함수 선언
def calculate(a, b):
    summ = a + b
    return summ

# 함수 사용
r1 = calculate(10, 5)
print(r1)

- 함수가 여러 개의 결괏값을 반환할 수도 있습니다.

In [ ]:
# 함수 선언
def calculate(a, b):
    summ = a + b
    mult = a * b
    return summ, mult

# 함수 사용
r1, r2 = calculate(10, 5)
print(r1)
print(r2)

## **Topic 3. 주요 내장 함수**

### **1) 숫자를 다루는 함수**

#### **① max(iterable) 함수**

- 문자열, 리스트, 튜플, 딕셔너리, 집합, range() 함수 등을 이터러블(iterable) 객체라고 합니다.
- 이터러블 객체에서 최댓값을 반환합니다.

In [ ]:
# 리스트 선언
a = [1, 2, 3, 4, 5]

# 최댓값
print(max(a))

#### **② min(iterable) 함수**

- 이터러블 객체에서 최솟값을 반환합니다.

In [ ]:
# 리스트 선언
a = [1, 2, 3, 4, 5]

# 최솟값
print(min(a))

#### **③ sum(iterable) 함수**

- 이터러블 객체의 모든 요소를 합산한 값을 반환합니다.

In [ ]:
# 리스트 선언
a = [1, 2, 3, 4, 5]

# 합
print(sum(a))

#### **④ abs(x) 함수**

- 주어진 숫자 x의 절댓값을 반환합니다.

In [ ]:
# 변수 선언
a = -123.45

# 절댓값
print(abs(a))

#### **⑤ round(x[, ndigits]) 함수**

- 주어진 숫자 x를 반올림하여 반환합니다.
- ndigits 매개변수를 사용하여 소수점 이하 자릿수를 지정합니다.

In [ ]:
# 변수 선언
a = 23.456
b = 45.673

# 반올림
print(round(a, 2))
print(round(b, 2))

#### **⑥ divmod(x, y) 함수**

- 숫자 x를 숫자 y로 나눈 결과의 몫과 나머지를 튜플로 반환합니다.

In [ ]:
# 변수 선언
a = 32
b = 5

# 몫, 나머지
c, d = divmod(a, b)

# 확인
print('몫:', c, '나머지:', d)

#### **⑦ pow(x, y[, z]) 함수**

- x를 y 제곱한 값을 계산하고, 선택적으로 z로 나눈 나머지를 반환합니다.

In [ ]:
# 변수 선언
a = 3
b = 4

# 제곱
print(pow(a, b))

# 제곱 % 4
print(pow(a, b, 4))

### **2) 문자열을 다루는 함수**

#### **① len(s) 함수**

- 문자열 s의 길이(문자 개수)를 반환합니다.

In [ ]:
# 문자열 변수 선언
a = 'I have a Dream.'

# 길이
len(a)

In [ ]:
# 리스트 변수 선언
b = [1, 2, 3, 4, 5]

# 요소 개수
len(b)

#### **② ord(c) 함수**

- 문자 c에 해당하는 유니코드 코드 포인트를 반환합니다.

In [ ]:
# 영어
print(ord('A'))
print(ord('a'))

# 한글
print(ord('ㅂ'))
print(ord('가'))
print(ord('한'))

#### **③ chr(i) 함수**

- 유니코드 코드 포인트 i에 해당하는 문자를 반환합니다.

In [ ]:
# 영어
print(chr(65))
print(chr(97))

# 한글
print(chr(12610))
print(chr(44032))
print(chr(54620))

### **3) 기타 함수**

#### **① range(stop) 함수**

- 0부터 stop-1까지 정수를 갖는 이터러블 객체를 반환합니다.

In [ ]:
# 변수 선언
a = list(range(10))
b = tuple(range(1, 11))
c = set(range(1, 11, 2))

# 확인
print(a)
print(b)
print(c)

#### **② enumerate(iterable, start=0) 함수**

- 이터러블 객체 각 요소와 해당 인덱스를 포함하는 이터러블 객체를 반환합니다.

In [ ]:
# 변수 선언
a = ['홍길동', '일지매', '한사랑']

# 인덱스, 요소
print(list(enumerate(a)))
print(list(enumerate(a, start=0)))
print(list(enumerate(a, start=1)))

In [ ]:
# 변수 선언
a = ['홍길동', '일지매', '한사랑']

# 인덱스, 요소 출력
for idx, name in enumerate(a):
    print(f'{idx}: {name}')

#### **③ input(prompt) 함수**

- 사용자로부터 입력을 받습니다.(입력 받은 값은 언제나 문자열임)
- 참고: jupyter lite가 아닌 경우는 아래 구문에서 await문을 삭제하세요.

In [ ]:
# 입력
name = await input('이름을 입력하세요:')

In [ ]:
# 확인
print(f'{name}님 안녕하세요!')

In [ ]:
# 입력
a = await input()

In [ ]:
# 정수 변환
a = int(a)

# 짝홀수 확인
if a % 2 == 0:
    print(f'{a}은(는)짝수입니다.')
else:
    print(f'{a}은(는) 홀수입니다.')

#### **④ zip(iterable1, iterable2, ...) 함수**

- 여러 이터러블 객체에서 각 요소들을 묶어 튜플 형태의 이터러블 객체를 반환합니다.

In [ ]:
# 변수 선언
a = [1, 2, 3, 4, 5]
b = [10, 20, 30, 40]

# 묶기
c = list(zip(a, b))

# 확인
print(c)

In [ ]:
# 변수 선언
name = ['홍길동', '일지매', '한사랑', '강우동']
score = [80, 90, 70, 85]

# 딕셔너리 선언
c = {k:v for k, v in zip(name, score)}

# 확인
print(c)

## **Topic 4. 표준 모듈 활용**

### **1) os 모듈**

- os.getcwd(): 현재 작업 디렉터리의 경로를 반환합니다.
- os.listdir(path): 지정한 디렉터리 내의 파일과 디렉터리 목록을 리스트로 반환합니다.
- os.path.exists(path): 지정한 경로의 파일 또는 디렉터리가 존재하는지 확인합니다.
- os.mkdir(path): 지정한 경로에 새 디렉터리를 생성합니다.
- os.remove(path): 지정한 파일을 삭제합니다.

In [ ]:
# 모듈 불러오기
import os

#### **① os.getcwd() 함수**

- 현재 작업 디렉터리의 경로를 반환합니다.

In [ ]:
# 현재 작업 디렉터리 얻기
current_directory = os.getcwd()

# 확인
print('현재 작업 디렉토리:', current_directory)

#### **② os.listdir(path) 함수**

- 지정한 디렉터리 내의 파일과 디렉터리 목록을 리스트로 반환합니다.

In [ ]:
# 디렉터리 지정
directory_path = '/drive/Python Basics/Lesson 3'

# 목록 얻기
file_list = os.listdir(directory_path)
file_list.sort()

# 확인
for file in file_list:
    print(file)

#### **③ os.path.exists(path) 함수**

- 지정한 경로의 파일 또는 디렉터리가 존재하는지 확인합니다.

In [ ]:
# 디렉터리 지정
directory = 'Test'

# 존재 여부 확인
if os.path.exists(directory):
    print(f'{directory} 디렉토리가 존재합니다.')
else:
    print(f'{directory} 디렉토리가 존재하지 않습니다.')

#### **④ os.mkdir(path) 함수**

- 지정한 경로에 새 디렉터리를 생성합니다.

In [ ]:
# 디렉터리 지정
new_directory = 'Test'

# 디렉터리 만들기
os.mkdir(new_directory)
print(f'디렉토리 {new_directory}가 생성되었습니다.')

#### **⑤ os.remove(path) 함수**

- 지정한 파일을 삭제합니다.

In [ ]:
# 파일 지정
file_to_delete = 'Test/test.txt'

# 파일이 있으면 삭제
if os.path.exists(file_to_delete):
    os.remove(file_to_delete)
    print(f'{file_to_delete} 파일이 삭제되었습니다.')
else:
    print(f'{file_to_delete} 파일이 존재하지 않습니다.')

### **2) time 모듈**

- time.time(): 현재 시간을 에폭 시간(1970년 1월 1일 이후 경과한 초)으로 반환합니다.
- time.sleep(seconds): 주어진 시간(초) 동안 프로그램 실행을 일시 중지합니다.
- time.localtime([secs]): 에폭 시간을 지역 시간으로 변환하여 튜플로 반환합니다.
- time.strftime(format, t): 지역 시간을 주어진 형식에 따라 문자열로 포맷팅합니다.
- time.gmtime([secs]): 에폭 시간을 협정 세계시(UTC)로 변환하여 튜플로 반환합니다.

In [ ]:
# 모듈 불러오기
import time

#### **① time.time() 함수**

- 현재 시간을 에폭 시간(1970년 1월 1일 이후 경과한 초)으로 반환합니다.

In [ ]:
# 현재 시간(초)
current_time = time.time()

# 확인
print('현재 시간(타임스탬프):', current_time)

#### **② time.sleep(seconds) 함수**

- 주어진 시간(초) 동안 프로그램 실행을 일시 중지합니다.

In [ ]:
# 시각
print('프로그램 시작')

# 2초 동안 중지
time.sleep(2)

# 종료
print('프로그램 종료')

#### **③ time.localtime([secs]) 함수**

- 에폭 시간을 지역 시간으로 변환하여 튜플로 반환합니다.

In [ ]:
# 현재 시간
current_time = time.localtime()

# 확인
print(current_time)

In [ ]:
print('년:', current_time.tm_year)
print('월:', current_time.tm_mon)
print('일:', current_time.tm_mday)
print('시:', current_time.tm_hour)
print('분:', current_time.tm_min)
print('초:', current_time.tm_sec)

#### **④ time.strftime(format, t) 함수**

- 지역 시간을 주어진 형식에 따라 문자열로 포맷팅합니다.

In [ ]:
# 현재 시간
current_time = time.localtime()

# 포맷팅
formatted_time = time.strftime('%Y-%m-%d %H:%M:%S', current_time)

# 확인
print('현재 시간:', formatted_time)

#### **⑤ time.gmtime([secs]) 함수**

- 에폭 시간을 협정 세계시(UTC)로 변환하여 튜플로 반환합니다.

In [ ]:
# 현재 UTC 시간
utc_time = time.gmtime()

# 확인
print('현재 UTC 시간 정보:')
print(f'년: {utc_time.tm_year}')
print(f'월: {utc_time.tm_mon}')
print(f'일: {utc_time.tm_mday}')
print(f'시: {utc_time.tm_hour}')
print(f'분: {utc_time.tm_min}')
print(f'초: {utc_time.tm_sec}')

### **3) random 모듈**

- random.random(): 0 이상 1 미만의 부동 소수점 난수를 생성합니다.
- random.randint(a, b): a와 b 사이(포함)의 정수 난수를 생성합니다.
- random.choice(seq): 주어진 시퀀스(리스트, 튜플 등)에서 무작위로 요소를 선택합니다.
- random.shuffle(seq): 주어진 시퀀스의 요소들을 무작위로 섞습니다.
- random.seed(a=None, version=2): 난수 생성기의 시드(seed)를 설정합니다.

In [ ]:
# 모듈 불러오기
import random

#### **① random.random() 함수**

- 0 이상 1 미만의 부동 소수점 난수를 생성합니다.

In [ ]:
# 난수 만들기
random_number = random.random()

# 확인
print('난수:', random_number)

#### **② random.randint(a, b) 함수**

- a와 b 사이(포함)의 정수 난수를 생성합니다.

In [ ]:
# 난수 만들기
random_int = random.randint(1, 10)

# 확인
print('난수:', random_int)

#### **③ random.choice(seq) 함수**

- 주어진 시퀀스(리스트, 튜플 등)에서 무작위로 요소를 선택합니다.

In [ ]:
# 리스트 선언
my_list = [10, 20, 30, 40, 50]

# 무작위 선택
random_element = random.choice(my_list)
print('무작위 선택:', random_element)

#### **④ random.shuffle(seq) 함수**

- 주어진 시퀀스의 요소들을 무작위로 섞습니다.

In [ ]:
# 리스트 선언
my_list = [1, 2, 3, 4, 5]

# 요소 섞기
random.shuffle(my_list)
print('섞인 리스트:', my_list)

#### **⑤ random.seed(a=None, version=2) 함수**

- 난수 생성기의 시드(seed)를 설정합니다.

In [ ]:
# 시드 설정
random.seed(42)

# 난수 만들기
random_num1 = random.random()
random_num2 = random.random()

# 확인
print('난수 1:', random_num1)
print('난수 2:', random_num2)

### **4) math 모듈**

- math.sqrt(x): 주어진 숫자 x의 제곱근을 계산하여 반환합니다.
- math.pow(x, y): x를 y 제곱한 값을 반환합니다. (x ** y와 동일)
- math.exp(x): 지수 함수를 계산하여 반환합니다. ($e^x$)
- math.ceil(x), math.floor(x): 올림(x 이상 가장 작은 정수), 내림(x 이하 가장 큰 정수)한 값을 반환합니다.
- math.sin(x), math.cos(x), math.tan(x): 삼각 함수로, 각각 사인, 코사인, 탄젠트 값을 계산하여 반환합니다.

In [ ]:
# 모듈 불러오기
import math

#### **① math.sqrt(x) 함수**

- 주어진 숫자 x의 제곱근을 계산하여 반환합니다.

In [ ]:
# 변수 선언
num = 16

# 제곱근
square_root = math.sqrt(num)

# 확인
print(f'{num}의 제곱근은 {square_root}입니다.')

#### **② math.pow(x, y) 함수**

- x를 y 제곱한 값을 반환합니다. (x ** y와 동일)

In [ ]:
# 변수 선언
x = 2
y = 3

# x를 y 제곱
result = math.pow(x, y)

# 확인
print(f'{x}의 {y} 제곱은 {result}입니다.')

#### **③ math.exp(x) 함수**

- 지수 함수를 계산하여 반환합니다. ($e^x$)

In [ ]:
# 변수 선언
x = 2.0

# e의 2.0 승
result = math.exp(x)

# 확인
print(f'e의 {x} 승은 {result:.5f}입니다.')

#### **④ math.ceil(x), math.floor(x) 함수**

- 올림(x 이상 가장 작은 정수), 내림(x 이하 가장 큰 정수)한 값을 반환합니다.

In [ ]:
# 변수 선언
num = 4.6

# 올림, 내림, 반올릴
c_num = math.ceil(num)
f_num = math.floor(num)
r_num = round(num)

# 확인
print('올림:', c_num)
print('내림:', f_num)
print('반올림:', r_num)

#### **⑤ math.sin(x), math.cos(x), math.tan(x) 함수**

- 삼각 함수로, 각각 사인, 코사인, 탄젠트 값을 계산하여 반환합니다.

In [ ]:
# 각도 --> 라디안 변환
angle = math.radians(45)

# sin, cos, tan
s = math.sin(angle)
c = math.cos(angle)
t = math.tan(angle)

# 확인
print('sin:', s)
print('cos:', c)
print('tan:', t)

### **5) calendar 모듈**

- calendar.month(year, month): 주어진 연도와 월에 해당하는 달력을 문자열 형식으로 반환합니다.
- calendar.month_name: 월의 이름을 담고 있는 튜플을 반환합니다.
- calendar.day_name: 요일의 이름을 담고 있는 튜플을 반환합니다.
- calendar.weekday(year, month, day): 주어진 날짜의 요일을 반환합니다. (0: 월요일 ~ 6: 일요일)
- calendar.isleap(year): 주어진 연도가 윤년인지 여부를 확인합니다. (윤년이면 True, 아니면 False)

In [ ]:
# 모듈 불러오기
import calendar

#### **① calendar.month(year, month) 함수**

- 주어진 연도와 월에 해당하는 달력을 문자열 형식으로 반환합니다.

In [ ]:
# 연도
year = 2023

# 달력 표시
cal = calendar.calendar(year)
print(cal)

In [ ]:
# 년월
year, month = 2023, 12

# 달력 표시
cal = calendar.month(year, month)
print(cal)

In [ ]:
# 년월
year, month = 2023, 12

# 일요일 시작 설정
cal = calendar.TextCalendar(calendar.SUNDAY)

# 달력 표시
cal_text = cal.formatmonth(year, month)
print(cal_text)

#### **② calendar.month_name 속성**

- 월의 이름을 담고 있는 튜플을 반환합니다.

In [ ]:
# 월 이름 출력
for m_num, m_name in enumerate(calendar.month_name):
    if m_num == 0:
        continue  # 0번째 인덱스 무시
    print(f"{m_num:2d}월: {m_name}")

#### **③ calendar.day_name 속성**

- 요일의 이름을 담고 있는 튜플을 반환합니다.

In [ ]:
# 요일 이름
day_name = calendar.day_name

# 확인
for day in day_name:
    print(day)

#### **④ calendar.weekday(year, month, day) 함수**

- 주어진 날짜의 요일을 반환합니다. (0: 월요일 ~ 6: 일요일)

In [ ]:
# 날짜
year, month, day = 2023, 12, 25

# 요일 확인
day_of_week = calendar.weekday(year, month, day)

# 문자열로 변환
day_names = ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일']
day_name = day_names[day_of_week]

# 확인
print(f'{year}년 {month}월 {day}일은 {day_name}입니다.')

#### **⑤ calendar.isleap(year) 함수**

- 주어진 연도가 윤년인지 여부를 확인합니다. (윤년이면 True, 아니면 False).

In [ ]:
# 연도
year = 2024

# 윤년 확인
if calendar.isleap(year):
    print(f'{year}년은 윤년입니다.')
else:
    print(f'{year}년은 윤년이 아닙니다.')